body {
  background-color: white;
  font-family: sans-serif;
  margin: 5% 15% 5% 15%;
}

.resume {
text-align: left;
margin: 0 auto;
  width: 880px;
  height: 100px;
}

.main {
text-align: left;
font-size: 19 pt;
width: 800px;

	
}

.image {
	float: right;
	background-color: white; 
	border: 5px solid black;
	width: 400px;
	height: 400px;
	padding: 10px;
	margin-bottom: 15px;
	
	padding-bottom: 10px;

	margin-left: 20px;
	text-align: center
}



.image2 {
	float: left;
	background-color: white; 
	border: 5px solid black;
	width: 400px;
	height: 300px;
	padding: 20px;
	padding-bottom: 10px;
	margin-right: 20px;
	margin-left: auto;
	margin-top: 15px;
	text-align: center
}

.name {
  color: #DF723E;
  display: inline-block;
  font-size: 1.6em;
  letter-spacing: 3px;
  text-transform: uppercase;
}


.contact-information {
  color: #black;
  display: inline-block;
  font-size: .8em;
  letter-spacing: 1px;
  line-height: .9em;
  text-transform: uppercase;
}

.contact-info {
  color: #58585B;
  display: inline-block;
  margin-bottom: 2%;
  margin-top: 1.1em;
  text-decoration: none;
}


.primary-titles {
  color: #DF723E;
  display: inline-block;
  font-size: .9em;
  letter-spacing: 1px;
  margin-bottom: -1%;
  text-decoration: none;
}


.category-headers {
  color: #DF723E;
  font-size: .9em;
  letter-spacing: 2px;
  margin-top: 3em;
  margin-bottom: .1em;
  text-transform: uppercase;
}

.category-details {
  color: #black;
  font-size: .9em;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-top: .5em;

}

.category-description-main {
  color: #black;
  font-size: .9em;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;  
  margin-right: 7%;
  margin-top: 1em;
}

.category-description {
  color: #black;
  font-size: .9em;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 7%;
  margin-top: .01em;
}

hr {
  border: 1px dotted #A7A9AB;
  border-style: none none dotted; 
  margin: 0 10% 0 0;
}

.small {
	margin: 0px;
}

.boxed {
  border: 2px solid black;
  width: 500px;
  
}

